In [1]:
import pandas as pd 
import numpy as np 
import matplotlib.pyplot as plt
from sklearn.model_selection import train_test_split

In [2]:
abalone = pd.read_csv('C:\School\Applied ML FSU\Applied-ML-FSU\Data/abalone.csv', header = None)

In [4]:
abalone.head()

       0      1      2       3       4       5      6   7
0  0.455  0.365  0.095  0.5140  0.2245  0.1010  0.150  15
1  0.350  0.265  0.090  0.2255  0.0995  0.0485  0.070   7
2  0.530  0.420  0.135  0.6770  0.2565  0.1415  0.210   9
3  0.440  0.365  0.125  0.5160  0.2155  0.1140  0.155  10
4  0.330  0.255  0.080  0.2050  0.0895  0.0395  0.055   7

In [5]:
X = abalone.drop(7, axis = 1)
y = abalone[7]

In [6]:
X.head()

       0      1      2       3       4       5      6
0  0.455  0.365  0.095  0.5140  0.2245  0.1010  0.150
1  0.350  0.265  0.090  0.2255  0.0995  0.0485  0.070
2  0.530  0.420  0.135  0.6770  0.2565  0.1415  0.210
3  0.440  0.365  0.125  0.5160  0.2155  0.1140  0.155
4  0.330  0.255  0.080  0.2050  0.0895  0.0395  0.055

In [7]:
y.head()

0    15
1     7
2     9
3    10
4     7
Name: 7, dtype: int64

Run through training all the models on one split first, then we'll loop to get the 20 different splits

In [9]:
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size = 0.1, random_state = 1)

## Null Model

In [11]:
avg = y_train.mean()

In [12]:
print(avg)

9.917531258313382

### MSE for Null Model

In [19]:
MSE_test = sum((y_test - avg)**2)/len(y_test)

In [20]:
print(MSE_test)

9.811688502329849

In [17]:
MSE_train = sum((y_train - avg)**2)/len(y_train)

In [18]:
print(MSE_train)

10.457684142079353